html {
  font-size: $base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  // text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 15px #DAA520;
  font-weight: bold;

  // text-shadow:
  //       2px 2px 0 rgba(255, 255, 255, 0.2), /* Light highlight */
  //       -1px -1px 0 rgba(255, 255, 255, 0.3), /* Opposite highlight */
  //       0 2px 2px $shadow-color, /* Soft shadow below for depth */
  //       0 5px 5px rgba(0, 0, 0, 0.5); /* Deeper shadow for more definition */
  //
  //
  // text-stroke: 1px rgba(0, 0, 0, 0.5); /* Outline effect to enhance definition */

  text-shadow:
        1px 1px 0px black,   /* Right shadow */
        -1px -1px 0px black, /* Left shadow */
        1px -1px 0px black,  /* Top-right shadow */
        -1px 1px 0px black,  /* Bottom-left shadow */
        0 0 5px rgba(255, 255, 255, 0.5), /* Soft highlight glow */
        0 1px 3px rgba(0, 0, 0, 0.5); /* Slight darker shadow below for depth */
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;

  // cursor: none; /* Hide the default cursor */
  cursor: url('/static/images/Pickaxe.png'), auto; /* Use the custom cursor image */
}


.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #DAA520; /* Goldenrod color */
    border-radius: 50%; /* Circle shape */
    pointer-events: none; /* Prevents the cursor from blocking events */
    box-shadow: 0 0 10px rgba(218, 165, 32, 0.8); /* Glow effect */
    transition: transform 0.15s ease; /* Smooth animation */
    z-index: 1;
}

body:hover .cursor {
    transform: scale(1.5); /* Slightly enlarge cursor on hover */
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
    text-decoration: underline $brand-color;
    text-underline-offset: 3px;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $brand-color;
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit * .5;
  @include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
  font-size: 0.9375em;
  border: 1px solid $border-color-01;
  border-radius: 3px;
  background-color: $code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: $code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-background-color;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th, td {
    padding: ($spacing-unit * 33.3333333333 * .01) ($spacing-unit * .5);
  }
  th {
    background-color: $table-header-bg-color;
    border: 1px solid $table-header-border;
  }
  td {
    border: 1px solid $table-border-color;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
